<% include ../partials/header %>
</div> <!-- close container div -->

<% if (login) { %>
    <% var firstName = user.firstName %>
<% } %>

<div class="chat">
    <div class="users">
        <% // if(userData.friends.length > 0) { %>
            <ul id="users" class="list-group"></ul>
        <% // } %>
    </div>
    <div id="chat-window" class="chat-window">
        <h3 id="chat_header" class="user-heading">Global Chat</h3>
        <div id="output" class="output">
        </div>
        <form id="send-message">
            <div class="message">
                <input type="text" id="message" placholder="Message">
            </div>
            <div id="send" class="send">
                <button class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
<div>
<% include ../partials/footer %>